<nav class="">
    <div class="container d-flex">
        <div class="">
            <!-- <img routerLink="/home" class="cursor" src="./assets/icons8-currency-exchange-50 (1).png" alt="currency exchange"> -->
            <img routerLink="/home" class="cursor" src="./assets/icons8-currency-exchange-75.png" alt="currency exchange">
        </div>
        <div class="Button">
            <button [routerLink]="['/Details','USD']" class="btn">EUR-USD Details</button>
            <button [routerLink]="['/Details','GBP']" class="btn ">EUR-GBP Details</button>
        </div>
    </div>
</nav>